.appointment {
  position: absolute;
  top: 20px;
  left: 0;
  width: 90%;
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #FFF;
  border-left: 5px solid #6868FA;
  border-radius: 5px;
  box-shadow: 0 10px 18px rgba(0,0,0,0.1), 0 14px 45px rgba(0,0,0,0.1);
}

.appointment-title {
  color: #6868FA;
  font-size: 30px;
  font-weight: lighter;
}