.appointment {
  position: absolute;
  top: 20px;
  left: 0;
  width: 80%;
  padding: 10px 20px;
  border: 2px solid #6868FA;
  border-radius: 5px;
  box-shadow: 0 10px 18px rgba(0,0,0,0.1), 0 14px 45px rgba(0,0,0,0.1);
}

.appointment-title {
  font-size: 30px;
  font-weight: lighter;
}